.container {
	padding: 1%;
}

.accountBoxItem{
	margin-bottom: 20px;
}

.accountBox {
	padding: 1%;
}

.propicPaper {
	width: 60px;
	overflow:hidden;
	border-radius:50%; 
	float: left;
	margin-right: 20px;
}